
export SERVICE_NAME=users
export SERVICE_PORT=3010
export ENV=local
export PUBLIC_KEY='foobar'
DB_HOST=127.0.0.1
DB_PORT=5432
DB_SCHEMA=users
DB_USER=postgres
DB_PASSWORD=
DB_NAME=appcompass
DB_SYNCHRONIZE=true
export INTERSERVICE_TRANSPORT_CONFIG='{"transport":2,"options":{"servers":["nats://localhost:4222"],"queue":"users"}}'
export DB_CONFIG='{"type":"postgres","host":"127.0.0.1","port":5432,"username":"postgres","password":"","schema":"users","database":"appcompass","synchronize":false,"migrationsRun":true}'
